# Flutter/Dart/Pub related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build output
build/

# Android specific
.android/
.idea/
*.iml
local.properties

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Xcode
xcuserdata/

# VS Code settings
.vscode/

# IntelliJ IDEA settings
.idea/

# Keystore files (avoid pushing sensitive information like your signing key)
*.jks
*.keystore

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Other sensitive or temporary files
*.log
*.bak
*.swp
